:root {
  --main-color: #242f51;
  --bg-color: #fdfdfe;
  --second-color: #fcae61;
  --btn-color: #2500f9;
  --small-font-color: #616368;
  --footer-bg: #09142e;
  --faq-color: #f5f7fa;
  --border-color: #f4f4f4;
  --items-border-color: #ebebeb;
}

/* Ganeral styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--main-color);
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 70px 170px;
  max-width: 100%;
  align-items: center;
}
.red-title {
  color: #f55767;
  padding-bottom: 7px;
}
.blue-title {
  color: #2563ff;
  padding-bottom: 7px;
}
.green-title {
  color: #40975f;
  padding-bottom: 7px;
}
.btn {
  background-color: var(--btn-color);
  border-radius: 30px;
  color: white;
  padding: 15px 40px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 9pt;
}
.small-btn {
  margin-left: 0;
  padding: 13px 35px;
  font-weight: bold;
  font-size: small;
}

.title {
  line-height: 2.5rem;
  font-size: 22.5pt;
}
.big-title {
  line-height: 2.5rem;
  font-size: 24pt;
}
ul {
  list-style: none;
}

/* Navbar */
.Navbar {
  max-width: 100%;
  background-color: var(--bg-color);
}
.navbar-links {
  margin-left: 300px;
}
.nav-link {
  padding: 0 12px;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}
.logo {
  font-size: x-large;
  font-weight: bold;
}
.logo span {
  color: var(--second-color);
}

/* Home */
.Home {
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  background-image: url('./Resources/Home/BG.png');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}
.home-header {
  max-width: 450px;
  margin-right: 20px;
  margin-bottom: 100px;
}
.award {
  background-color: #e2eaed;
  border-radius: 30px;
  padding: 5px 30px 5px 5px;
  font-size: 11pt;
  font-weight: 500;
  margin-bottom: 10px;
}
.award img {
  border-radius: 40px;
  width: 31px;
  height: 28px;
  position: relative;
  top: 9px;
  right: 5px;
}
.home-title {
  font-size: 35pt;
  padding-top: 10px;
  line-height: 4rem;
}
.home-header p {
  color: #616368;
  margin: 13px 0 38px 0;
  font-size: 10.5pt;
}

.home-header .demo-video {
  font-size: small;
  color: var(--btn-color);
  padding-left: 25px;
  font-weight: 600;
}
.phone-img img {
  width: 360px;
  height: 650px;
  border-radius: 60px;
  position: relative;
  bottom: 30px;
  left: 25px;
}

/* Compaines */
.Companies {
  text-align: center;
  max-width: 100%;
  margin: auto;
  padding: 89px 20px 110px 20px;
}
.companies-logos {
  height: 72px;
  width: 750px;
}

.companies-title {
  margin-bottom: 26px;
  font-size: small;
  font-weight: 600;
}

/* Features */
.Features {
  display: flex;
  justify-content: space-between;
}
.Features-image {
  padding-left: 130px;
  width: 660px;
  height: 700px;
  position: relative;
  right: 20px;
}
.awesome-app {
  width: 500px;
  margin-top: 30px;
  margin-right: 300px;
  position: relative;
  right: 10px;
}
.feature-title {
  margin: 10px;
}
.feature-title h1 {
  line-height: 2.5rem;
  font-size: 23pt;
}
.feature-description {
  font-size: small;
  color: var(--small-font-color);
  padding: 9px 0 35px 0;
}
.card-feature {
  width: 330px;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  align-items: center;
}
.img-caption {
  padding-left: 13px;
  justify-content: center;
}
.img-caption h3 {
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 12.5pt;
}
.card-img {
  padding: 0 10px;
  padding-top: 20px;
  width: 120px;
  height: 90px;
}
.card-text {
  color: var(--small-font-color);
  font-weight: 500;
  font-size: small;
}

/* Smart */
.Smart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 910px;
  padding: 55px 30px;
  flex-direction: row;
}
.Smart h1 {
  margin: auto;
  width: 650px;
  line-height: 2.5rem;
}
.Smart p {
  width: 600px;
  font-weight: 500;
  margin-right: 75px;
  font-size: small;
  color: var(--small-font-color);
}
.line {
  border-left: 1px solid #b9b9b8;
  height: 115px;
  text-align: center;
  margin-left: 68px;
  position: relative;
  right: 35px;
}
.smart-cards {
  display: flex;
  width: 68%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 40px 0 60px 0;
}
.smart-card {
  width: 250px;
  margin: auto;
  padding-right: 35px;
}
.smart-title {
  font-size: 12pt;
}
.smart-card img {
  padding-bottom: 15px;
  width: 70px;
  height: 85px;
}
.smart-btn {
  padding: 13px 30px;
}
.designed-and-build {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 30px 50px 60px 50px;
  border-bottom: 1px solid #f4f4f4;
}
.designed-and-build img {
  width: 475px;
  margin-left: 25px;
}
.designed-title {
  line-height: 2.3rem;
  margin-top: 32px;
}
.designed-text {
  padding-bottom: 10px;
}
.latest-code {
  width: 350px;
  margin-right: 130px;
}
.latest-code .card-text {
  margin: 20px 0 30px 0;
}

/* OurApp */
.why-ourApp {
  padding: 50px;
  text-align: center;
  margin: auto;
  width: 100%;
}
.why-ourApp h1 {
  width: 32%;
  margin: auto;
  padding: 50px 0 25px 0;
}
.why-ourApp p {
  width: 520px;
  margin: auto;
}
.why-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 200px;
  flex-wrap: wrap;
}
.why-card {
  width: 280px;
  text-align: center;
  padding: 20px 30px 40px 30px;
}
.why-card img {
  padding-bottom: 12px;
  width: 70px;
  height: 82px;
}
.why-card h4 {
  padding: 8px;
}

/* Ultimate */
.ultimate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 80px 0 120px 0;
}
.ultimate-features {
  width: 550px;
  margin-left: 193px;
  position: relative;
  left: 50px;
}
.ultimate-title {
  width: 340px;
}
.ultimate-title p {
  padding: 15px 0;
}
.ultimate-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.ultimate-card {
  width: 240px;
  padding: 25px 0;
}
.ultimate-card img {
  padding-bottom: 12px;
  width: 70px;
  height: 82px;
}
.ultimate-card h4 {
  padding-bottom: 7px;
}
.ultimate-btn {
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
  top: 28px;
}

.two-phones {
  margin-top: 55px;
  width: 600px;
  height: 665px;
}

/* Deals */
.Deals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 85px;
  border-bottom: 1px solid #f4f4f4;

  margin: 0 auto 120px auto;
  text-align: center;
}
.deals-header {
  width: 600px;
}
.deals-header h1 {
  width: 550px;
  margin: auto;
}
.deal-text {
  padding: 25px 40px 30px 40px;
}

.deal-btn-box {
  width: 233px;
  height: 47px;
  border: 2px solid var(--border-color);
  margin: 28px auto 0 auto;
  border-radius: 30px;
  padding: 2px 2px;
  font-size: 10pt;
}
.deal-btn {
  position: relative;
  right: 29px;
  top: 10px;
  padding: 10px 25px;
}
.annually {
  position: relative;
  top: 7.5px;
  color: #616368;
  font-weight: 500;
}
.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
}

.offer-card {
  border: 2px solid #ebebeb;
  height: 440px;
  width: 260px;
  margin: 0 15px;
  border-radius: 7px;
}
.offer-header {
  background-image: url('./Resources/Deals/Rectangle.png');
  margin-bottom: 20px;
  padding: 40px 40px 30px 40px;
}

.second-offer {
  border: 2px solid var(--border-color);
}

.offer-title {
  font-size: 36pt;
  display: inline;
}
.offer-header span {
  font-size: 11pt;
  color: #999ca5;
}
.offer-text {
  font-size: 10pt;
  color: #999ca5;
}
.offer-list li {
  font-size: 9.5pt;
  color: #999ca5;
  padding: 10px 0;
  font-weight: 500;
}
.offer-btn {
  position: relative;
  top: 26px;
  padding-left: 40px;
  padding-right: 40px;
}
.first-offer {
  border: 1px solid #ffffff;
  box-shadow: 0 80px 80px rgb(0 0 0 / 2%), 0 40px 50px rgb(0 0 0 / 7%);
}
.second-offer {
  border: 2px solid var(--border-color);
  height: 485px;
  margin-top: 40px;
}
.trail {
  color: var(--btn-color);
  margin-top: 55px;
  font-size: 10pt;
  font-weight: 500;
}
/* Clients */
.Clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 560px;
}
.clients-map {
  width: 680px;
  height: 410px;
}

.meet-clients {
  width: 474px;
  margin-right: 152px;
  position: relative;
  right: 60px;
  height: 570px;
}
.meet-clients-title {
  margin-bottom: 23px;
}
.meet-clients-text {
  padding-bottom: 30px;
}
.star-img {
  width: 120px;
}
.user-title {
  padding: 15px 0;
}
.user-text {
  padding-bottom: 50px;
  word-wrap: break-word;
}
.client {
  display: flex;
  align-items: center;
}
.client-details {
  padding-left: 22px;
}
.client-img {
  width: 71px;
  height: 71px;
}
.client-title {
  font-size: 11pt;
  padding-bottom: 3px;
}
.client-text {
  font-size: 11pt;
  color: var(--small-font-color);
}
.arrows-img {
  position: relative;
  left: 180px;
  width: 95px;
}

/* FAQ */

.FAQ {
  width: 810px;
  margin: auto;
  padding: 0 0 75px 0;
}
.FAQ p {
  font-size: small;
  color: var(--small-font-color);
}

.FAQ-header {
  width: 530px;
  margin: auto;
  padding: 50px 0 35px 0;
  text-align: center;
  font-weight: 600;
}
.FAQ-header h1 {
  padding: 25px 0;
}
.FAQ-card div {
  background-color: var(--faq-color);
  padding: 12px 35px;
  margin: 10px 30px;
}
.FAQ-card div h4 {
  display: inline;
}
.FAQ-card div span {
  display: inline;
  font-weight: bold;
  float: right;
}
div .FAQ-first-card {
  text-align: justify;
  padding: 35px 50px 30px 35px;
}

.FAQ-first-card p {
  margin: 20px 0 30px 0;
  font-weight: 500;
}

/* Download */
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f4f4f4;
  height: 345px;
}
.download-title {
  font-size: 29pt;
}
.download-text {
  width: 540px;
  position: relative;
  left: 230px;
}
.download-text p {
  padding: 25px 0 36px 0;
}
.download-text img {
  height: 44px;
}
.download-phone {
  position: relative;
  top: 30px;
  width: 680px;
}

/* Footer */
.Footer {
  background-color: var(--footer-bg);
  height: 420px;
  max-width: 100;
  text-align: center;
  color: #ffffff;
  padding: 80px 0;
}
.footer-logo {
  color: var(--second-color);
}
.footer-logo .footer-span {
  color: #ffffff;
}
.footer-links {
  padding: 35px 0;
  margin-left: 0;
}
.footer-link {
  color: #ffffff;
  font-size: small;
  font-weight: 400;
  padding: 0 14px;
}
.socials {
  padding: 5px 0;
  height: 34px;
}
.copy-rights {
  font-size: 8pt;
  font-weight: bold;
  padding-top: 50px;
  color: #5f636e;
}
